container-fluid {
    background-color: transparent;
  }
  .navbar {
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 150px;
    z-index: 1;
  }
  .dropdown-menu {
    background: #002;
    width: 300px;
  }
  
  .fav-num {
    margin-left: 8px;
    font-size: 1.6rem;
  }
  
  li > h2 {
    color: #cac873;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bx-lg {
    font-size: 1.5rem;
    color: #cac873;
    
  }
  
  .logo-nav {
    width: 140px;
    transition: all.6s;
  }
  .logo-nav:hover {
    transform: scale(110%);
  }
  
  .btn-group {
    margin-right: 3rem;
  }
  .btn-favorite {
    position: relative;
    border: 2px solid rgb(137, 133, 16);
    display: block;
    font-size: 1.4rem;
    transition: all 0.5s ease;
    color: #000;
    font-weight: 500;
    background-color: #cac873;
    text-transform: uppercase;
  }
  
  .btn-favorite:hover {
    color: #cac873;
    background-color: transparent;
  }